body {
	font-family: Calibri, Candara, Arial, sans-serif;
	color: #000;
}

h1 {
	color: #22265D;
	margin: 0;
}

ul ul {
  list-style-type: none;
}


.body-container {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-image: url("imgs/SVIN-bg.png");
	background-repeat: repeat;
	box-shadow: 0 1px 12px #888;
	display: flex;
  	flex-flow: column wrap;
}


/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/
/*-----------------------------------------------------------*/

header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background-image: url("imgs/SVIN-header-graphic.svg");
	background-repeat: no-repeat;
}

.logo {
	margin: 0;
	padding: 6px 0 3px 6px;
}

/* causes right side of header graphic to move with window -- see img element in header */
.header-right-overlay {	margin: 0 0 0 auto; }

.header-title {
	width: 100%;
	padding-left: 60px;
	color: #2E3477;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.header-title-text {
	font-weight: 600;
	padding-top: 10px;
	margin-bottom: 0;
}

.header-title-page-number {
	font-weight: 600;
	min-width: 4rem;
	padding-top: 10px;
	padding-left: 20px;
}

/*-----------------------------------------------------------*/
/*-------------------------- Slide --------------------------*/
/*-----------------------------------------------------------*/

.slide-container {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
}

/*-----------------------------------------------------------*/
/*------------------------- Toolbar -------------------------*/
/*-----------------------------------------------------------*/

.toolbar-container { display: flex; }

.toolbar-btn {
	height: 42px;
	border: 1px solid #d3dedc;
	padding: 0;
	background-color: #fff;
	flex: 1;
	font-family: inherit;
	margin: 0;
}

.toolbar-btn h2 {
	font-size: 1.125rem;
	color: #21265d;
	margin: 0;
}

.toolbar-btn:hover {
	cursor: pointer;
	background-color: #eaf2ff;
}

.toolbar-btn:focus { outline: none; }

.toolbar-icon-left, .toolbar-icon-right { height: 1.25rem; }

.toolbar-icon-left { padding-right: .625rem; }

.toolbar-icon-right { padding-left: .625rem; }

.toolbar-btn-text-graphic {
	display: flex;
	justify-content: center;
	align-items: center;
}

#transcript-dialog {
	font-family: Calibri, Candara, Arial, sans-serif;
}

/*-----------------------------------------------------------*/
/*------------------------ Dropup Menu ----------------------*/
/*-----------------------------------------------------------*/

.dropdown {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.dropdown-content {
	max-height: 454px;
	display: none;
	position: absolute;
	background-color: #fff;
	width: 480px;
	text-align: left;
	font-size: 1rem;
	box-shadow: 0 1px 10px #aaa;
	transform: translate(-1px, -1px); /* account for button's border */
	overflow: auto;
	border: 1px solid #d3dedc;
}

.dropdown-content.show {
	display: block;
	bottom: 100%;
	left: 0%;
}

.dropdown-content.show a {
	height: 30px;
	color: #21265d;
	border-top: 1px solid #d3dedc;
	padding: 12px 16px 2px 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover { background-color: #eaf2ff; }

.dropdown-icon-container {
	display: block;
	float: right;
}

.dropdown-icon {
	height: 15px;
	padding: 10px;
}

/*-----------------------------------------------------------*/
/*----------------------- Video Slide -----------------------*/
/*-----------------------------------------------------------*/

.inactive-btn, .inactive-btn:hover, .inactive-btn:focus {
	background-color: #cacaca;
	border: 1px solid #bbb;
}

/* .inactive-btn .toolbar-icon-left { opacity: .35; } */

.inactive-btn h2 { color: #999; }

.inactive-btn:hover { cursor: default; }

.video-container iframe {
	width: 800px;
	height: 450px;
}

/*-----------------------------------------------------------*/
/*----------------------- Text Slide ------------------------*/
/*-----------------------------------------------------------*/

.text-only-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-left: 60px;
}

/*-----------------------------------------------------------*/
/*-------------------- Text/Image Slide ---------------------*/
/*-----------------------------------------------------------*/

.text-container {
	flex: 2 0 1;
	padding: 10px 10px 10px 20px;
}

.text-bullet {
	font-size: 1.375rem;
	padding-bottom: 10px;
	color: #21265D;
}

.img-container {
	flex: 1 0 1;
	padding: 10px 20px 10px 10px;
}

.img-container img { width: 400px; }

/*-----------------------------------------------------------*/
/*---------------------- Media Queries ----------------------*/
/*-----------------------------------------------------------*/

@media (max-width: 413px) {
	.video-container iframe {
		width: 335px;
		height: 188px;
	}
}

@media (min-width: 414px) and (max-width: 567px) {
	.video-container iframe {
		width: 364px;
		height: 205px;
	}
}

@media (min-width: 568px) and (max-width: 767px) {
	.video-container iframe {
		width: 490px;
		height: 276px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.video-container iframe {
		width: 728px;
		height: 410px;
	}
}

@media (min-width: 768px) {
	.body-container { min-height: 576px; }
}

@media (max-width: 1023px) {
	h1 { font-size: 1.375rem; }

	.text-bullet { font-size: 1.125rem; }

	.text-only-container { padding-left: 40px; }

	.toolbar-btn h2 { font-size: 1rem; }
}

@media (max-width: 767px) {
	header {
		background-image: none;
		background-color: #fff;
		height: 60px;
		margin-bottom: 5px;
	}

	.logo img { width: 120px; }

	.toolbar-btn h2 { display: none; }

	.text-only-container { padding-left: 25px; }

	.header-right-overlay { display: none; }

	.header-title { padding-left: 30px; }

	.header-title-text {
		font-size: 1rem;
		padding-top: 0;
		margin: auto 0;
	}

	.header-title-page-number {
		font-size: 1rem;
		padding-top: 0px;
		margin: auto 0;
	}

	.toolbar-icon-right {
		padding-left: 0;
	}

	.toolbar-icon-left {
		padding-right: 0;
	}

	.slide-container {
		flex-direction: column;
	}

	.img-container img { width: 300px; }
}
